ul.pwp_widget_list li {
	margin-bottom: 10px;
	list-style: none;
}

span#pwp_plugin_credit_widget {
	font-size: 0.7em;
}

h4.pwp_title{
	margin-bottom: 5px;	
}

p.pwp_author_list{
	margin-bottom: 5px;
}

p.pwp_item_excerpt {
	margin-bottom: 5px;
}

span.pwp_tags {
	background: #E7E7E7;
	padding: 3px;
	border-radius: 3px;
	font-size: 10px;
	margin-right: 10px;
	color: #515151;
}

span.pwp_authors {
	font-size: 13px;
	margin-right: 10px;
	color: #515151;
}

p#pwp_plugin_credit_sc {
	font-size: 10px;
	padding: 3px;
}

div.pwp-featured-image-wrapper{
	float:left;
	height: 100px;
	width: 100px;
	margin-right: 3%;
}

div.pwp-links-shortcode-image{
	float:left;
	width: 70%;
	min-height: 125px;
}

p.pwp-featured-image{
	height:100px;
	width:100px;
	background-size: cover;
	background-position: 50% 50%, 50% 50%;
}

p.pwp-featured-image-placeholder{
	height:100px;
	width:100px;
	background: #efefef;
}

.pwp-clear{
	clear: both;
}